{% extends "sns/base.html" %}
{% block content %}
<nav class="navbar navbar-expand navbar-dark bg-light topbar mb-4 static-top shadow p-4">
    <h2>フォロー中</h2>
</nav>
<div class="container">
    <div class="row">
        {% if followings %}
            <div class="col-12 mt-4">
                <div class="d-flex flex-wrap">
                    {% for follow in followings %}
                        <a href="{{ url_for('sns.user_page', user_id=follow.follow_user_id) }}" 
                           class="card shadow mx-2 mb-4" 
                           style="color: inherit; width: 18rem;">
                            <div class="card-body text-center">
                                <img 
                                    src="{{ url_for('sns.image_file', filename=follow.followed.icon_path or 'default_icon.png') }}"
                                    alt="ユーザーアイコン" 
                                    style="width: 60px; height: 60px; border-radius: 50%;" 
                                />
                                <h5 class="card-title mt-2">{{ follow.followed.username }}</h5>            
                            </div>
                        </a>
                    {% endfor %}
                </div>
            </div>
        {% else %}
            <p>フォロー中のユーザーはいません。</p>
        {% endif %}
    </div>
</div>



{% endblock %}
