{% extends "crud/base.html" %}
{% block title %}ユーザー新規作成{% endblock %}
{% block content %}
<div id="layoutAuthentication">
  <div id="layoutAuthentication_content">
      <main>
          <div class="container">
              <div class="row justify-content-center">
                  <div class="col-lg-5">
                      <div class="card shadow-lg border-0 rounded-lg mt-5">
                          <div class="card-header"><h3 class="text-center font-weight-light my-4">ユーザー新規作成</h3>
                          <div class="card-body">
                              <form action="{{ url_for('crud.create_user') }}" method="POST" novalidate="novalidate">
                                  {{ form.csrf_token }}
                                  <div class="form-floating mb-3">
                                    {{form.username.label}}{{form.username(placeholder="ユーザー名")}}
                                    {% for error in form.username.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                  </div>
                                  <div class="form-floating mb-3">
                                    {{form.email.label}}{{form.email(placeholder="メールアドレス")}}
                                    {% for error in form.email.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                  </div>
                                  <div class="form-floating mb-3">
                                    {{form.password.label}}{{form.password(placeholder="パスワード")}}
                                    {% for error in form.password.errors %}
                                    <span style="color: red;">{{ error }}</span>
                                    {% endfor %}
                                  </div>
                                  <div class="btn btn-primary">
                                      {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
                                  </div>
                              </form>
                          </div>
                          <div class="card-footer text-center py-3">
                              <div class="small"><a href="{{ url_for('auth.login') }}">ログイン</a></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </main>
  </div>
</div>

<!-- <h2>ユーザー新規作成</h2>
  <form 
    action="{{ url_for('crud.create_user') }}"
    method="POST"
    novalidate="novalidate"
  >
    {{form.csrf_token}}
    <p>{{form.username.label}}{{form.username(placeholder="ユーザー名")}}</p>
    {% for error in form.username.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p>{{form.email.label}}{{form.email(placeholder="メールアドレス")}}</p>
    {% for error in form.email.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p>{{form.password.label}}{{form.password(placeholder="パスワード")}}</p>
    {% for error in form.password.errors %}
    <span style="color: red;">{{ error }}</span>
    {% endfor %}
    <p>{{form.submit()}}</p>
  </form> -->
{% endblock %}