{% extends "sns/base.html" %}
{% block title %}ユーザー新規登録{% endblock %}
{% block content %}
<div id="layoutAuthentication">
    <div id="layoutAuthentication_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5">
                        <div class="card shadow-lg border-0 rounded-lg mt-5">
                            <div class="card-header"><h3 class="text-center font-weight-light my-4">ユーザー新規登録</h3>
                            <div class="card-body">
                                <form method="POST" action="{{ url_for('auth.signup', next=request.args.get('next')) }}" class="form-signin">
                                    {{ form.csrf_token }}
                                    {% for message in get_flashed_messages() %}
                                    <div class="dt-auth-flash">{{message}}</div>
                                    {% endfor %}
                                    
                                    <div class="form-floating mb-3">
                                        {{ form.username(size=30, class="form-control dt-auth-input", placeholder="ユーザー名") }}
                                        <label for="inputUsername">ユーザー名</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        {{ form.email(class="form-control dt-auth-input", placeholder="メールアドレス") }}
                                        <label for="inputEmail">メールアドレス</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        {{ form.password(class="form-control dt-auth-input", placeholder="パスワード") }}
                                        <label for="inputPassword">パスワード</label>
                                    </div>
                                    {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
                                </form>
                            </div>
                            <div class="card-footer text-center py-3">
                                <div class="small"><a href="{{ url_for('auth.login') }}">ログイン</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
  </div>
  
<div class="mx-auto dt-auth-main">
    <div class="card dt-auth-signup">
        <header>ユーザー新規登録</header>
        <section>
            <form 
                method="POST"
                action="{{ url_for('auth.signup', next=request.args.get('next')) }}"
                class="form-signin"
            >
                {{ form.csrf_token }}
                {% for message in get_flashed_messages() %}
                <div class="dt-auth-flash">{{message}}</div>
                {% endfor %}
                {{ form.username(size=30, class="form-control dt-auth-input", placeholder="ユーザー名") }}
                {{ form.email(class="form-control dt-auth-input", placeholder="メールアドレス") }}
                {{ form.password(class="form-control dt-auth-input", placeholder="パスワード") }}
                {{ form.submit(class="btn btn-md btn-primary btn-block dt-auth-btn") }}
            </form>
        </section>
    </div>
</div>
{% endblock %}